<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(@user), class: "avatar-full" %>
    </div>
    <div class="card">
      <div class="card-header"><%= @user.name %></div>
      <div class="card-body">
        <%= @user.description || "no description" %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="description row-space-3">
    </div>
  </div>
</div>
