@import "bootstrap";
@import "toastr";
@import "font-awesome";

body {
  color: #565a5c;
  background-color: #f8f8f8;
  font-family: "Verela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-top: 90px;
}

a {
  color: #00a699;
}

.modal-backdrop {
  z-index: 1020;
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #00a699;
}

// NAVBAR
.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ff5a5f;
  font-size: 2em;
  font-weight: 400;
}

.navbar-default .navbar-nav a {
  color: #777777;
}

// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #ffffff;
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.5rem 1.7rem;
}

.btn-small {
  padding: 0.3rem 1rem;
  margin-top: 1rem;
}

.btn:hover, .btn:focus {
  color: #ffffff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: #ffffff;
  color: #484848;
  border-radius: 0.125rem;
  padding: 0.625rem 0;
  margin-top: 0.625rem;
}

.btn.btn-normal {
  border: 0.0625rem solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form {
  border: 0.0625rem solid #00a699;
  background-color: #00a699;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-twitter {
  border: 0.0625rem solid #385998;
  background-color: #385998;
}

.btn.btn-twitter:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}

// CARDS
.card .card-header {
  color: #ffffff;
  background-color: #00a699;
  font-size: 1.125rem;
  font-weight: 400;
}

.card .card-header a {
  color: #ffffff;
}

.card .card-header a:hover {
  color: #c4c4c4;
  text-decoration: none;
}

.card .card-footer {
  background-color: #c4c4c4;
}

.card .card-footer .tag {
  color: #ffffff;
  background-color: #00a699;
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.card .card-footer .tag a {
  color: #ffffff;
}

.card .card-footer .tag a:hover {
  color: #c4c4c4;
  text-decoration: none;
}
.card-playlist .card-body {
  padding: 0;
  height: 300px;
}

.frame-playlist {
  height: 100%;
  width: 100%;
}

.row-space-1 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.row-space-2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.row-space-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.description {
  color: #575757;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

// AVATAR
.avatar-small {
  width: 1.75rem;
}

.avatar-medium {
  width: 3rem;
}

.avatar-large {
  width: 4.25rem;
}

.avatar-full {
  width: 100%;
}

// FORMS
.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 0.125rem;
}

// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}

.playlist-pagenate {
  margin: 3rem auto;
}
